{% extends 'instructor/instructor_panel.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>My Courses</h2>
    {% if courses %}
        <table class="table table-hover table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Department ID</th>
                    <th>Location</th>
                    <th>Schedule</th>
                    <th>Semester</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr onclick="window.location='{{ url_for('instructor.course_detail', course_id=course[0]) }}'" style="cursor: pointer;">
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>{{ course[2] }}</td>
                    <td>{{ course[4] }}</td>
                    <td>{{ course[5] }}</td>
                    <td>{{ course[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No courses found.</p>
    {% endif %}
</div>
{% endblock %}
