{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">My Courses</h2>
    {% if courses %}
        <div class="table-responsive shadow-sm rounded-3 border">
            <table class="table table-bordered table-striped align-middle mb-0">
                <thead style="background-color: #f8f9fa;" class="text-center">
                    <tr>
                        <th class="text-secondary">Course ID</th>
                        <th class="text-secondary">Course Name</th>
                        <th class="text-secondary">Department Name</th>
                        <!-- <th>Instructor ID</th> -->
                        <th class="text-secondary">Location</th>
                        <th class="text-secondary">Schedule</th>
                        <th class="text-secondary">Semester</th>
                        <th class="text-secondary">Availability</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for course in courses %}
                    <tr onclick="window.location.href='{{ url_for('instructor.course_detail', course_id=course.id) }}'" style="cursor: pointer;">
                        <td>{{ course.id }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.department_name }}</td>
                        <!-- <td>{{ course.instructor_id }}</td> -->
                        <td>{{ course.location }}</td>
                        <td>{{ course.schedule }}</td>
                        <td>{{ course.semester }}</td>
                        <td>{{ course.availability }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-muted">No courses found.</p>
    {% endif %}
</div>
{% endblock %}
